@import "nib"
@import "nib/vendor"
html
body
	width 100%
	font-weight normal
	font-size 18px
	color c_dark
	font-family 'Hero-light'
.container
	padding 0 10px
	display block
	margin 0 auto
	max-width 1200px
	&.np
		padding 0
.container-small
	padding 0 10px
	display block
	margin 0 auto
	max-width 900px
	min-height 500px
	&.np
		padding 0
.colx
	padding: 1em 0;
.col-2
	-webkit-column-count 2
	-moz-column-count 2
	column-count 2
	-webkit-column-gap 40px 
	-moz-column-gap 40px 
	column-gap 40px

	p
		-webkit-column-break-inside avoid
		page-break-inside avoid
		break-inside avoid
p
	font-family 'roboto-thin'
	font-size 14px
	line-height 1.4em
	color c_black
	text-align justify
.wrapper
	min-height 100%
	width 100%
	overflow hidden
.principal-title
	font-family 'roboto-thin'
	font-size 50px
	line-height 1.2em
	color c_blue
	margin 10px 0
.title-mobile
	display none
.main-content
	width 100%
	display block
	margin 0
	padding 0
	margin-bottom 0 !important
	.contenedor
		display block
		width 100%
		max-width 1000px
		.block-news
			width 100%
			display inline-block
			.col2
				width 50%
				display inline-block

header
	position relative
	z-index 20
	width 100%
	display block
	padding 10px 0
	background rgba(255, 255, 255, .9)
	.logo
		display inline-block
		width 200px
		vertical-align top
		img
			display block
			margin 0 auto
	.mail-movil
		position absolute
		top 25px
		right 35px
		display none
		text-align center
		.icon
			font-size 30px
			line-height 1.2em
			color c_blue
	.box
		position absolute
		top 25px
		left 35px
		display none
		vertical-align middle
		height 54px
		margin-top 3px
		width 27px
		z-index 20
		user-select none
		-webkit-user-select none
		-ms-user-select none
		span
			opacity 1
			display block
			width 100%
			height 4px
			top 0
			bottom 0
			background c_blue
			core-options(border-radius, 10px)
			transition(all .3s ease)
			margin-bottom 5px
			position relative
		&:hover
			cursor pointer
		&.box-close
			span
				&:first-child
					cross-properties(transform, rotateZ(-45deg))
					top 9px
				&:nth-child(2)
					opacity 0
				&:last-child
					cross-properties(transform, rotateZ(45deg))
					top -9px
	.menu
		display inline-block
		width 100%
		max-width calc(100% - 200px)
		max-width -moz-calc(100% - 200px)
		max-width -webkit-calc(100% - 200px)
		vertical-align top
		margin-top 25px
		ul
			display table
			padding 0
			margin 0
			list-style none
			width 100%
			padding 20px 0
			li
				display table-cell
				text-align center
				font-family 'roboto-thin'
				font-size 15px
				line-height 1.2em
				color c_blue
				position relative
				cursor pointer
				trasition(all .5s ease)
				&.active
					font-family 'roboto-bold'
				&.submenu
					&:after
						content '\e812'
						position absolute
						font-family "fontello"
						font-size 12px
						bottom -15px
						left calc(50% - 5px)
						left -moz-calc(50% - 5px)
						left -webkit-calc(50% - 5px)
						color c_blue
				&:hover
					font-family 'roboto-bold'
					trasition(all .5s ease)
					&.submenu
						&:after
							font-weight bold
						
				.icon
					font-size 20px
	.sub
		display none
		width 100%
		padding 20px 0
		.icon-up
				display none
		.sub-slide
			display table
			padding 0
			margin 0
			list-style none
			li
				display table-cell
				text-align center
				font-family 'roboto-thin'
				font-size 12px
				line-height 1.2em
				color c_blue
				position relative
				cursor pointer
				padding 0 5px
				trasition(all .5s ease)
				&.submenu
					&:after
						content '\e812'
						position absolute
						font-family "fontello"
						font-size 12px
						bottom -15px
						left calc(50% - 5px)
						left -moz-calc(50% - 5px)
						left -webkit-calc(50% - 5px)
						color c_blue
				&:hover
					font-family 'roboto-bold'
					trasition(all .5s ease)
.container-half
	display inline-block
	width 50%
	padding 10px 15px
	vertical-align top
	overflow hidden
.title-procuradores
	font-size 20px
	font-family 'roboto-regular'
	display block
	color c_blue
	text-align left
	margin-bottom 10px
	margin-top 50px
	
.subtitle-procuradores
	font-family 'TitilliumWeb-Regular'
	font-size 18px
	display block
	color c_blue
	
.procurador-bg
	font-size 22px
	font-family 'roboto-bold'
	display block
	color c_blue
	margin-bottom 10px

.procuradores-nav
	font-size 14px
	font-family 'roboto-thin'
	
.vid1
	margin 0 auto
	position relative
.nombre-container
	display block 
	position relative
	width 100%
	.detalle-nombre
		display inline-block
		width auto
		font-size 16px
		font-family 'roboto-bold'
		position relative 
		padding-bottom 10px
		margin-top 30px
		color c_blue
		&:after
			content ''
			display block
			bottom 0
			position absolute
			left 0
			height 0.5px
			background c_gray
			width 100%
.detalle-nombre
	display block
	width 100%
	font-size 16px
	font-family 'roboto-bold'
	position relative 
	padding-bottom 10px
	margin-top 30px
	color c_blue
.colegio
	margin 30px auto
	text-align center
	width 80%
	li
		border-bottom 0px !important	
		.after
			width auto
			display inline-block
			position relative
			padding-bottom 10px
			&:after
				content ""
				display block
				width 100%
				height 1px
				background #c9c9c9
				position absolute
				bottom 0
.bordeblue-bottom
	border-bottom 1px solid c_blue
.bluebold
	font-family 'roboto-bold'
	color c_blue
	font-size 14px
	display block
	padding-top: .5em;
.resena
	font-family 'roboto-bold'
	font-size 14px
	color c_black
	display inline-block
	margin-top 20px
	width auto
	position relative
	padding-bottom 10px
	margin: 0
	&:after
		content ""
		display block
		width 100%
		height 1px
		background c_black
		position absolute
		bottom 0
.datos
	display block
	width 100%
	margin-top 10px
	padding-bottom 10px
	margin-left -10px
	.ubicacion
		font-family 'roboto-bold'
		color c_blue
		font-size 14px
		padding-left 10px
		display block
	.colegiado
		font-family 'roboto-thin'
		font-size 14px
		color c_gray
		padding-left 10px
		display block
	.despacho
		font-family 'roboto-bold'
		font-size 14px
		color c_black
		padding-left 10px
		display inline-block
		margin-top 20px
		width auto
		position relative
		padding-bottom 10px
		&:after
			content ""
			display block
			width 100%
			height 1px
			background c_black
			position absolute
			bottom 0
.detalle-cargo
	font-family 'roboto-thin'
	font-size 18px
	width 100%
	text-align center
	margin 20px 0px 
.detalle-img
	margin 20px auto
	display block
	max-width: 260px;
	height: 400px;
	overflow: hidden;
	position: relative
	img
		margin 0 auto
		min-height: 370px;
		overflow: hidden;
		left: 50%;
		top: 50% ;
		height: 100% ;
		width: auto ;
		transform: translate(-50%,-50%) !important;
		position: absolute;
		max-width: inherit;
.detalle-full
	text-align center
.download
	margin-top: 2em;
	.btn
		margin-right: .3em;
		padding: .3em .5em
		border: 1px solid;
		color: #0e568a !important;
		font-family: 'roboto-thin';
		font-size: 14px;
		line-height: 1.4em;
		text-align: justify;
		transition: all .3s ease-in-out
		font-weight: bold
		&:hover
			background: #0e568a
			color: white !important
			border: 1px solid #0e568a;
.cv	
	position relative
	width 100%
	display block
	padding 50px 0px
	margin 20px 0px
	.link-news
		position absolute
		bottom 0
		right 0
		width 200px
		text-align right
		margin-bottom 20px
		h4
			font-family 'roboto-thin'
			font-size 17px
			line-height 1.2em
			color c_gray
			margin 0
			padding 5px
		span
			width 100%
			display block
			border-top 2px solid c_gray
			font-family 'roboto-bold'
			font-size 12px
			line-height 1.2em
			color c_blue
			padding-top 15px
.otros
	display block
	width 100%
	margin-top 10px
	padding-bottom 10px
	margin-left -10px
	.direccion
		font-family 'roboto-thin'
		font-size 14px
		color c_gray
		padding-left 10px
		display block
	.telefonos
		display block
		width 100%
		margin-top 20px
		span
			font-family 'roboto-thin'
			font-size 14px
			color c_gray
			padding-left 10px
			display block
		i 
			color c_blue
			font-size 14px
	.mail
		font-family 'roboto-bold'
		font-size 14px
		color c_blue
		padding-left 10px
		display block
		margin-top 20px
.list-title
	display block
	width 100%
	font-size 12px
	font-family 'roboto-bold'	
	color c_blue
	margin-top 40px
	margin-left 20px
.cont-sm
	max-width 640px
	display block
	margin 0 auto
.decanos
	margin-top 20px
	margin-bottom 40px
	ul
		margin 0
		padding 0
		li
			list-style none
			border-bottom 1px solid #c9c9c9
			font-size 14px
			font-family 'roboto-light'
			padding 5px 0px
			display block
			color c_blue
			span
				padding-left 20px
			&:last-child
				border-bottom 0px
			.cargo
				color c_gray
				font-size 14px
				width 200px
				font-family 'roboto-bold'
				display inline-block
			.web
				font-family 'roboto-bold'
				font-size 11px
				float right
				margin-right 20px
			.place
				font-family 'roboto-bold'
				margin-left -15px
			.colegio
				text-align right
				float right
			.autonomia
				text-align right
				float right
.principal-banner
	width 100%
	display block
	height 550px
	margin 0
	padding 0
	margin-bottom 0 !important
	.slick-list
		height 550px
	.slick-track
		height 550px
	.slick-dots
		bottom 5px
		li
			&.slick-active
				button
					&:before
						display block
						color c_white
						background c_white
						border-radius 50%
						width 15px
						height 15px

			button
				&:before
					display block
					color c_white
					background c_white
					border-radius 50%
					width 15px
					height 15px
	.slide-banner
		width 100%
		height 100%
		display block
		position relative
		overflow hidden
		img
			position relative
			top 50%
			left 50%
			width 100%
			min-height initial
			max-width initial
			transform(translate(-50%,-50%))
		.text-slide
			position absolute
			width 100%
			max-width 530px
			left 0
			bottom 40px
			background rgba(255, 255, 255, .75)
			padding 10px 30px
			padding-bottom 30px
			h2
				font-family 'TitilliumWeb-Regular'
				font-size 27px
				line-height 1.4em
				color c_gray
				display block
				text-align justify
				margin-bottom 20px
			span
				font-family 'roboto-thin'
				font-size 14px
				line-height 1.2em
				color c_gray
			i
				padding-left 20px
				font-size 18px
.module-boxes
	width 100%
	display block
	max-width 1200px
	margin 0 auto
	.box-info
		width 14.28%
		display inline-block
		position relative
		height 154px
		vertical-align middle
		.image-background
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			img
				width 100%
				height 100%
				display block
		.text-box
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			padding 10px 0
			background rgba(255, 255, 255, .75)
			transition(all .5s ease)
			.head-box
				display block
				width 100%
				height 85px
				text-align center
				transition(all .5s ease)
				h3
					font-family 'TitilliumWeb-Bold'
					font-weight bold
					font-size 23px
					line-height 1.2em
					color c_gray
					margin 0
					padding 25px 0 
					transition(all .5s ease) 
				img
					display block
					padding 25px 10px
					width 100%
					max-width 138px
					margin 0 auto
			span
				text-align center
				display block
				font-family 'roboto-thin'
				font-size 12px
				color c_black
				line-height 1.2em
				padding 10px 0	
				border-top 1px solid c_black
				width calc(100% - 20px)
				width -moz-calc(100% - 20px)
				width -webkit-calc(100% - 20px)
				margin 0 10px
				transition(all .5s ease)
			&:hover
				background rgba(0, 90, 155, .75)
				transition(all .5s ease)
				.head-box
					h3
						color c_white
						transition(all .5s ease)
				span
					color c_white
					border-top 1px solid c_white
					transition(all .5s ease)
.noticias-slider
	.module-news
		width 80%
		margin 0 auto
		.item-news
			border-bottom 0px
	.slick-prev
		left 11px
		z-index 1
		height 30px
		&:before
			content '\e813'
			font-family 'fontello'
			font-size 30px
			color c_blue
	.slick-next
		right 11px
		z-index 1
		height 30px
		&:before
			content '\e814'
			font-family 'fontello'
			font-size 30px
			color c_blue
.fotogaleria-slider
	width 90%
	margin 30px auto
	.foto-slide
		img
			width 80%
			margin 0 auto
	.slick-prev
		left -30px
		z-index 1
		height 30px
		&:before
			content '\e813'
			font-family 'fontello'
			font-size 30px
			color c_blue
	.slick-next
		right -30px
		z-index 1
		height 30px
		&:before
			content '\e814'
			font-family 'fontello'
			font-size 30px
			color c_blue
.fotogaleria-nav
	width 90%
	margin 30px auto
	img
		width 166px
		height 135px
	.slick-slide
		opacity 0.5
		margin 0 10px
	.slick-current
		opacity 1	
.comite-container
	width 100%
	display block
	position relative
	margin-top 50px
	text-align center
	.comite
		width 30%
		display inline-block
		vertical-align top
		.nombre
			display block
			font-family 'roboto-thin'
			font-size 15px
			text-align center
			width 100%
			margin-bottom 15px
			color c_gray
		.comite-img
			width 121px
			height 176px
			margin 0 auto
			background c_blue
			display block
		.cargo
			width 80%
			margin 0 auto
			margin-top 15px
			display block
			font-family 'roboto-bold'
			font-size 12px
			color c_blue
			text-align center
.revista-container
	width 100%
	display block
	position relative
	margin-top 50px
	.revista
		width 23%
		display inline-block
		vertical-align top
		.nombre
			display block
			font-family 'roboto-thin'
			font-size 15px
			text-align center
			width 100%
			margin-bottom 15px
			color c_gray
		.revista-img
			width 123px
			height 176px
			margin 0 auto
			background c_blue
			display block
			position relative
		.numero
			width 50%
			margin 0 auto
			margin-top 15px
			display block
			font-family 'roboto-thin'
			font-size 15px
			color c_gray
			text-align center
			border-bottom 1px solid c_gray
			padding-bottom 10px
			text-transform uppercase
		.fecha
			margin 0 auto
			margin-top 10px
			display block
			font-family 'roboto-bold'
			font-size 12px
			color c_blue
			text-align center
			padding-bottom 10px
		.over
			width 123px
			height 176px
			display block
			position absolute
			top 0	
			opacity 0
			transition(all 1s ease)
			.descargar
				width 123px
				height 88px
				display block
				background c_gray
				color c_white
				i
					font-size 19px
					text-align center
					display block
					padding-top 25px
				.text
					text-align center
					font-size 10px
					font-family 'roboto-thin'
					display block
					padding-top 10px
					
			.ver
				width 123px
				height 88px
				display block
				background #d2d2d2
				color c_gray
				i
					font-size 19px
					text-align center
					display block
					padding-top 25px
				.text
					text-align center
					font-size 10px
					font-family 'roboto-thin'
					display block
					padding-top 10px
		&:hover
			.over
				opacity 1
				transition(all 1s ease)
				
.descargar
	width 65px
	height 65px
	display inline-block
	background c_gray
	color c_white
	i
		font-size 19px
		text-align center
		display block
		padding-top 15px
	.text
		text-align center
		font-size 8px
		font-family 'roboto-thin'
		display block
		padding-top 5px
		
.ver
	width 65px
	height 65px
	display inline-block
	background #d2d2d2
	color c_gray
	i
		font-size 19px
		text-align center
		display block
		padding-top 15px
	.text
		text-align center
		font-size 8px
		font-family 'roboto-thin'
		display block
		padding-top 5px
.final
	margin-bottom 50px	
.top
	margin-top 30px
.menu-colegios
	.tab-colegios
		margin 20px 0px
		padding 0
		li
			display inline-block
			font-family 'roboto-thin'
			font-size 12px
			cursor pointer
			color c_blue
			padding 0 10px
			margin 0px 10px
			border 1px solid c_blue
			padding 10px
			&.active
				font-family 'roboto-bold'
				background c_blue
				color c_white
				border 0
.image-bottom
	display block
	width 100%
	.img
		display inline-block
		width 35%
	.text-img
		border-top 1px solid c_gray
		display inline-block
		width 54%
		.nombre
			font-family 'roboto-bold'
			font-size 15px
			padding-top 20px
			color c_blue
			width 88%
			display block
			padding-left 15px
.gray-back
	background #d2d2d2
.grupos
	width 100%
	display block
	margin 40px auto
	width 1000px
	min-height 300px
	.grupo1
		text-align center
		width 200px
		height 200px
		background #c5c5c5
		display inline-block
		vertical-align middle
		.titulo
			color c_gray
			text-align center
			font-size 15px
			padding-top 60px
			display block
			width 80%
			margin 0 auto
			padding-bottom 10px
			font-family 'TitilliumWeb-Regular'
			border-bottom 1px solid c_gray
		.link
			margin-top 10px
			font-family 'roboto-regular'
			font-size 12px
			color c_gray
			display block
	.grupo2
		text-align center
		width 200px
		height 200px
		background c_white
		display inline-block
		vertical-align middle
		.titulo
			color c_blue
			text-align center
			font-size 15px
			padding-top 60px
			display block
			width 80%
			margin 0 auto
			padding-bottom 10px
			font-family 'TitilliumWeb-Regular'
			border-bottom 1px solid c_blue
		.link
			margin-top 10px
			font-family 'roboto-regular'
			font-size 12px
			color c_blue
			display block
	.grupo3
		text-align center
		width 200px
		height 200px
		background c_gray
		display inline-block
		vertical-align middle
		.titulo
			color c_white
			text-align center
			font-size 15px
			padding-top 42px
			display block
			width 80%
			margin 0 auto
			padding-bottom 10px
			font-family 'TitilliumWeb-Regular'
			border-bottom 1px solid c_white
		.link
			margin-top 10px
			font-family 'roboto-regular'
			font-size 12px
			color c_white
			display block
	.grupo4
		text-align center
		width 200px
		height 200px
		background c_white
		display inline-block
		vertical-align middle
		.titulo
			color c_blue
			text-align center
			font-size 15px
			padding-top 60px
			display block
			width 80%
			margin 0 auto
			padding-bottom 10px
			font-family 'TitilliumWeb-Regular'
			border-bottom 1px solid c_blue
		.link
			margin-top 10px
			font-family 'roboto-regular'
			font-size 12px
			color c_blue
			display block
	.grupo5
		text-align center
		width 200px
		height 200px
		background #c5c5c5
		display inline-block
		vertical-align middle
		.titulo
			color c_gray
			text-align center
			font-size 15px
			padding-top 60px
			display block
			width 80%
			margin 0 auto
			padding-bottom 10px
			font-family 'TitilliumWeb-Regular'
			border-bottom 1px solid c_gray
		.link
			margin-top 10px
			font-family 'roboto-regular'
			font-size 12px
			color c_gray
			display block
.congresos
	width 100%
	display block
	max-width 1200px
	margin 0 auto 
	margin-bottom 40px
	text-align center
	.congreso1
		text-align center
		width 300px
		height 300px
		background #c5c5c5
		display inline-block
		vertical-align middle
		.titulo
			color c_gray
			text-align center
			font-size 30px
			padding-top 30px
			display block
			width 80%
			margin 0 auto
			padding-bottom 10px
			font-family 'TitilliumWeb-Regular'
			line-height 1em
			border-bottom 1px solid c_gray
		.link
			margin-top 22px
			font-family 'roboto-regular'
			font-size 12px
			color c_gray
			display block
			ul
				padding 0 
				margin 0
				li
					display inline-block
					list-style none
					margin-left 5px
		
	.congreso2
		text-align center
		width 300px
		height 300px
		background c_white
		display inline-block
		vertical-align middle
		.titulo
			color c_blue
			text-align center
			font-size 30px
			padding-top 30px
			display block
			width 80%
			margin 0 auto
			padding-bottom 10px
			font-family 'TitilliumWeb-Regular'
			line-height 1em
			border-bottom 1px solid c_blue
		.link
			margin-top 22px
			font-family 'roboto-regular'
			font-size 12px
			color c_blue
			display block
			ul
				padding 0 
				margin 0
				li
					display inline-block
					list-style none
					margin-left 5px
	.congreso3
		text-align center
		width 300px
		height 300px
		background c_gray
		display inline-block
		vertical-align middle
		.titulo
			color c_white
			text-align center
			font-size 30px
			padding-top 30px
			display block
			width 80%
			margin 0 auto
			padding-bottom 10px
			font-family 'TitilliumWeb-Regular'
			line-height 1em
			border-bottom 1px solid c_white
		.link
			margin-top 22px
			font-family 'roboto-regular'
			font-size 12px
			color c_white
			display block
			ul
				padding 0 
				margin 0
				li
					display inline-block
					list-style none
					margin-left 5px
	.congreso4
		text-align center
		width 300px
		height 300px
		background c_white
		display inline-block
		vertical-align middle
		.titulo
			color c_blue
			text-align center
			font-size 30px
			padding-top 30px
			display block
			width 80%
			margin 0 auto
			padding-bottom 10px
			font-family 'TitilliumWeb-Regular'
			line-height 1em
			border-bottom 1px solid c_blue
		.link
			margin-top 22px
			font-family 'roboto-regular'
			font-size 12px
			color c_blue
			display block
			ul
				padding 0 
				margin 0
				li
					display inline-block
					list-style none
					margin-left 5px
.prensa-galeria 
	.slick-prev
		&:before
			content '\e813'
			font-family 'fontello'
			font-size 40px
			color c_white
	.slick-next
		&:before
			content '\e814'
			font-family 'fontello'
			font-size 40px
			color c_white
.title-colegio
	display block
	font-family 'roboto-light'
	font-size 16px
	color c_blue
	.place
		font-family 'roboto-bold'
#tab1-colegios
#tab2-colegios
#tab3-colegios
	display none
	&.active
		display block
#tab1-historia
#tab2-historia
#tab3-historia
#tab4-historia
#tab5-historia
	display block
	&.active
		display block
.sede
	max-width 550px
	display block
	margin 0 auto
	margin-top 40px
.sede-modulos
	width 100%
	display block
	margin 40px auto
	text-align center
	margin-bottom 60px
	.modulo1
		text-align center
		width 200px
		height 200px
		background #c5c5c5
		display inline-block
		vertical-align middle
		.icono
			font-size 32px 
			padding-top 50px
			color c_gray
			display block
		.texto
			display block
			font-family 'roboto-thin'
			font-size 15px
			margin-top 30px
			text-align center
			color c_gray
	.modulo2
		text-align center
		width 200px
		height 200px
		background c_white
		display inline-block
		vertical-align middle
		.icono
			font-size 32px 
			padding-top 50px
			color c_blue
			display block
		.texto
			display block
			font-family 'roboto-bold'
			font-size 15px
			margin-top 30px
			text-align center
			color c_blue
	.modulo3
		text-align center
		width 200px
		height 200px
		background c_gray
		display inline-block
		vertical-align middle
		.icono
			font-size 32px 
			padding-top 50px
			color c_white
			display block
		.texto
			display block
			font-family 'roboto-bold'
			font-size 15px
			margin-top 30px
			text-align center
			color c_white
.organigrama
	text-align center
	margin 20px auto
	img
		width auto
		margin 0 auto
.c_blue
	color c_blue
	font-family 'roboto-bold'
.noticias-sugeridas
	display block
	width 100%
	text-align center
	margin-top 40px
	.sugeridas
		font-family 'roboto-thin'
		font-size 17px
		color #4d4d4d
		width auto
		display inline-block
		position relative
		padding-bottom 10px
		text-align center
		&:after
			content ""
			display block
			width 100%
			height 1px
			background #4d4d4d
			position absolute
			bottom 0
.revista-img-half
	max-width 100%
	float right
	margin-right 20px
.container-half
	display inline-block
	width 50%
	padding 0px
	vertical-align top
	overflow hidden
	.mod1
		display block
		background right 
		text-align center
		background-image url('../img/content/content-08.jpg')
		.titulo
			font-family 'TitilliumWeb-Regular'
			font-size 30px
			width 70%
			color c_gray
			display block
			padding-bottom 10px
			border-bottom 1px solid c_gray
			margin 0 auto
		.fecha
			font-family 'TitilliumWeb-Light'
			font-size 18px
			width 100%
			color c_gray
			display block
			margin-top 10px
		.lugar
			font-family 'TitilliumWeb-Regular'
			font-size 12px
			width 100%
			color c_gray
			display block
			margin-top 30px
			padding-bottom 40px
	.mod2
		display block
		background right 
		text-align center
		.titulo
			font-family 'TitilliumWeb-Regular'
			font-size 30px
			width 70%
			color c_gray
			display block
			padding-bottom 10px
			border-bottom 1px solid c_gray
			margin 0 auto
		.fecha
			font-family 'TitilliumWeb-Light'
			font-size 18px
			width 100%
			color c_gray
			display block
			margin-top 10px
		.lugar
			font-family 'TitilliumWeb-Regular'
			font-size 12px
			width 100%
			color c_gray
			display block
			margin-top 30px
			padding-bottom 40px
.image-news-detail
	width 100%
	display block
	position relative
	margin 40px auto
	margin-bottom 20px
	img
		width 100%
		display block
.grid
	display block
	max-width 1000px
	margin 20px auto
.grid:after 
	content ''
	display block
	clear both
.grid-sizer
.grid-item 
	width 20%
	img
		width 100%
		height 100%
	.subtexto
		position absolute
		right 20px
		font-family 'roboto-bold'
		font-size 20px
		bottom 20px
		color c_white
		z-index 10
		display none
	&:hover 
		&:after
			content "\A"
			width 100%
			height 100%
			background rgba(14,86,128,0.6)
			position absolute
			top 0
			left 0
		.subtexto 
			display block
.grid-item
	height 207px
	float left
.grid-item--width2
	width 40%
.grid-item--width3
	width 60%
	img
		width 100%
.grid-item--height2
	height 407px
.grid-item--height3 
	height 260px
.grid-item--height4
	height 200px
.grid-item--height5
	height 200px
.grid-item--height6
	height 205px
.adjust
	display: flex;
	align-items: center;
.module-news
	width 100%
	display block
	padding 20px 75px
	.news-title
		font-size 40px
		font-family 'TitilliumWeb-Regular'
		text-align center
		width 100%
		display block
		margin 0 auto
		color #4d4d4d
		line-height 1em
		margin-bottom 40px
	.noticias-sugeridas
		display block
		width 100%
		text-align center
		margin-top 40px
		.sugeridas
			font-family 'roboto-thin'
			font-size 17px
			color #4d4d4d
			width auto
			display inline-block
			position relative
			padding-bottom 10px
			text-align center
			&:after
				content ""
				display block
				width 100%
				height 1px
				background #4d4d4d
				position absolute
				bottom 0
	.principal-title
		display block
		padding-left 27px
	.container-half
		display inline-block
		width 50%
		padding 10px 15px
		vertical-align top
		overflow hidden
		&.border
			border-right 1px solid rgba(77, 77, 77, .1)
	.icon-plus-1
		display block
		margin 0 auto
		width 43px
		height 43px
		color c_blue
		text-align center
		font-size 35px
		line-height 1.2em
		border-radius 50%
		border 3px solid c_blue
		cursor pointer
		transform(rotate(0deg))
		transition(all 1s ease)
		&:before
			margin 0
		&:hover
			background c_blue
			color c_white
			transform(rotate(180deg))
			transition(all 1s ease)
	.fixedmenu
		display: flex !important
		align-items: center !important
		justify-content: center !important
		padding: 2em !important
		.historia
			position: fixed !important
			max-width: 1035px !important
			top: 0;
			margin: 0 !important;
			background: white;
			box-shadow: 0 3px 10px -4px #ccc
			padding: 1em;
			height: 108px !important;
			ul
				margin: 0 !important
	.single-news
		display block
		width 100%
		.historia
			width 100%
			display block
			height 140px
			margin 0 auto
			margin-top 20px
			margin-top 20px
			cursor pointer
			ul
				padding 0px
			li
				width 20%
				display inline-block
				vertical-align top
				position relative
				cursor pointer
				.number
					width 50px
					height 50px
					color c_blue
					background #c5c5c5
					display block
					text-align center
					padding 6px 0px
					font-family 'TitilliumWeb-Regular'
					font-size 26px
					margin 0 auto
					transition(all 1s ease)	
					&:before
						content ''
						display block
						top 24px
						position absolute
						left -5px
						width calc(50% - 50px) 
						height 1px
						background c_gray
					&:after
						content ''
						display block
						top 24px
						position absolute
						right 0
						width calc(50% - 50px) 
						height 1px
						background c_gray
					&:hover
						background c_blue
						color c_white
						transition(all 1s ease)	
				.title
					font-family 'TitilliumWeb-Regular'
					font-size 16px
					display block
					width 100%
					text-align center
				&.active
					.number
						background c_blue
						color c_white
						transition(all 1s ease)	
		.container-half
			padding-top 30px
			.fecha-cont
				display block
				width 100%
				.fecha
					font-family 'roboto-thinitalic'
					font-size 12px
					color c_gray
					width auto
					display inline-block
					margin-bottom 10px
					position relative
					padding-bottom 10px
					&:after
						content ""
						display block
						width 150%
						height 1px
						background #4d4d4d
						position absolute
						bottom 0
		.fecha-cont
			display block
			width 100%
			.fecha
				font-family 'roboto-thinitalic'
				font-size 12px
				color c_gray
				width auto
				display inline-block
				margin-bottom 10px
				position relative
				padding-bottom 10px
				&:after
					content ""
					display block
					width 150%
					height 1px
					background #4d4d4d
					position absolute
					bottom 0
		.tags
			font-family 'roboto-bold'
			font-size 12px
			text-align left
			color c_gray
			width 100%
			display block
			padding-top 10px
			margin-bottom 20px
		.image-news
			width 100%
			display block
			position relative
			img
				width 100%
				display block
			.pie
				display block
				width 100%
				font-family 'roboto-thin'
				font-size 12px
				padding-left 10px
				margin-top 10px
				margin-right 0px
				max-width 200px
			.destacado
				position absolute
				padding 10px
				background #0e5684
				font-size 17px
				color c_white
				top -20px
				right 10px
				font-family 'roboto-thin'
		p
			font-size 14px
			font-family 'roboto-thin'
			display block
			width 100%
			line-height 1.4em
			text-align justify
		.quote
			float left
			font-family 'TitilliumWeb-Regular'
			font-size 24px
			width 240px
			margin-left -50px
			margin-right 30px
			color c_gray
		.destacado-vid
			.image-news
				width 100%
				display block
				position relative
				img
					width 100%
					display block
					margin 0 auto
				.pie
					display block
					width 95%
					font-family 'roboto-thin'
					font-size 12px
					padding-left 10px
					margin-top 10px
					text-align right
				.destacado
					position absolute
					padding 10px
					background #0e5684
					font-size 17px
					color c_white
					top 30px
					left -9% 
					right auto
					font-family 'roboto-thin'
			.fecha-cont
				display block
				width 100%
				.fecha
					font-family 'roboto-thinitalic'
					font-size 12px
					color c_gray
					width auto
					display inline-block
					margin-bottom 10px
					position relative
					padding-bottom 10px
					&:after
						content ""
						display block
						width 150%
						height 1px
						background #4d4d4d
						position absolute
						bottom 0
		.pie
			display block
			width 50%
			font-family 'roboto-thin'
			font-size 12px
			padding-left 10px
			margin-top 0px
			text-align right
			float right
			margin-right 0px
		.text-content
			max-width 550px
			display block
			margin 0 auto
.memoria
	width 100%
	display block
	margin 0 auto
	margin-top 20px
	.memoria1
		width 200px
		height 200px
		display inline-block
		float left
		background c_gray
		margin-right 50px
		color c_white
		.texto
			font-family 'roboto-thin'
			font-size 15px
			text-align center
			display block
			padding-top 50px
			width 90%
			margin 0 auto
			padding-bottom 10px
			border-bottom 1px solid c_white
		.year
			display block
			text-align center
			font-family 'TitilliumWeb-Bold'
			font-size 52px
			
	.memoria2
		width 200px
		height 200px
		display inline-block
		margin-left 50px
		background #d2d2d2
		color c_gray
		.texto
			font-family 'roboto-thin'
			font-size 15px
			text-align center
			display block
			padding-top 50px
			width 90%
			margin 0 auto
			padding-bottom 10px
			border-bottom 1px solid c_gray
		.year
			display block
			text-align center
			font-family 'TitilliumWeb-Bold'
			font-size 52px
.container-news
	width 100%
	display block
	clearfix()
.item-news
	width 100%
	display block
	border-bottom 1px solid rgba(77, 77, 77, .1)
	padding 40px 20px
	position relative
	opacity 1
	transition(all 1s ease)
	&.scrollItem
		opacity 1
		transition(all 1s ease)
	.big
		padding-right 0px !important
	.image-news
		width 100%
		display block
		padding-right 120px
		position relative
		margin-bottom 35px
		img
			width 100%
			display block
		.link-news
			position absolute
			bottom 10px
			right 0
			width 200px
			text-align right
			h4
				font-family 'roboto-thin'
				font-size 17px
				line-height 1.2em
				color c_gray
				margin 0
				padding 5px
			span
				width 100%
				display block
				border-top 2px solid c_gray
				font-family 'roboto-bold'
				font-size 12px
				line-height 1.2em
				color c_blue
				padding-top 15px
		.text-area
			position absolute
			top 10px
			width 100%
			display block
			padding-top 30px
			.small
				font-family 'roboto-bold'
				font-size 12px
				display block
				text-align center
				width 100%
				color #4d4d4d
			.title
				font-family 'TitilliumWeb-Light'
				font-size 40px
				display block
				width 70%
				text-align center
				color #4d4d4d
				margin 0 auto
				line-height 1em
				border-bottom 2px solid #4d4d4d
				padding-bottom 20px
				margin-top 20px
			.download
				font-family 'roboto'
				font-size 12px
				display block
				text-align center
				width 100%
				color #4d4d4d
				padding-top 15px
					
	.text-news
		width 100%
		display block
		text-align left
		clearfix()
		h2
			font-family 'TitilliumWeb-Regular'
			font-size 26px
			line-height 1.2em
			color #4d4d4d
			margin 0
			text-align justify
		p
			font-family 'roboto-thin'
			font-size 14px
			line-height 1.4em
			color c_black
			margin 30px 0
		.link-news
			margin 0
			width 200px
			text-align right
			float right
			h4
				font-family 'roboto-thin'
				font-size 17px
				line-height 1.2em
				color c_gray
				margin 0
				padding 5px
			span
				display block
				width 100%
				border-top 2px solid c_gray
				font-family 'roboto-bold'
				font-size 12px
				line-height 1.2em
				color c_blue
				padding-top 15px
				padding-right 5px
	.video-news
		width 100%
		display block
		position relative
		height 230px
		max-height 230px
		overflow hidden
		margin-bottom 35px
		iframe
			display block
			width 100%
			height 100%
		.poster-image
			width 100%
			height 100%
			display block
			position absolute
			top 0
			left 0
			img
				display block
				width 100%
			.icon-play
				position absolute
				top calc(50% - 22px) 
				top -moz-calc(50% - 22px) 
				top -webkit-calc(50% - 22px) 
				left calc(50% - 22px) 
				left -moz-calc(50% - 22px) 
				left -webkit-calc(50% - 22px)
				width 44px
				height 44px
				color c_white
				text-align center
				font-size 24px
				line-height 1.6em
				border-radius 50%
				border 3px solid c_white
				cursor pointer
.vid-full
	display block
	margin 20px auto
	width 80%
	margin-bottom 50px
.video-news-bg
	width 100%
	display block
	position relative
	height 500px
	max-height 500px
	overflow hidden
	margin-bottom 35px
	iframe
		display block
		width 100%
		height 100%
	.poster-image
		width 100%
		height 100%
		display block
		position absolute
		top 0
		left 0
		img
			display block
			width 100%
			min-height 500px
		.icon-play
			position absolute
			top calc(50% - 22px) 
			top -moz-calc(50% - 22px) 
			top -webkit-calc(50% - 22px) 
			left calc(50% - 22px) 
			left -moz-calc(50% - 22px) 
			left -webkit-calc(50% - 22px)
			width 44px
			height 44px
			color c_white
			text-align center
			font-size 24px
			line-height 1.6em
			border-radius 50%
			border 3px solid c_white
			cursor pointer
.phrase
	padding 0 50px
	position relative
	h2
		display block
		font-family 'TitilliumWeb-Regular'
		font-weight bold
		font-size 45px
		line-height 1.2em
		text-align center
		color c_blue
		white-space nowrap
		overflow hidden
		border-right 2px solid rgba(0,90,155,.75)
		margin 0 auto
		top 50%
		width 24em
	&:before
		content ''
		display block
		position absolute
		top -10px
		left calc(50% - 30%)
		left -moz-calc(50% - 30%)
		left -webkit-calc(50% - 30%)
		width 60%
		height 1px
		background c_gray
	&:after
		content ''
		display block
		position absolute
		bottom -10px
		left calc(50% - 30%)
		left -moz-calc(50% - 30%)
		left -webkit-calc(50% - 30%)
		width 60%
		height 1px
		background c_gray
.page-title
	display block
	width 100%
	text-align center
	.title
		font-size 26px
		font-family 'TitilliumWeb-Regular'
		color c_blue
		width auto
		display inline-block
		position relative
		padding-bottom 10px
		&:after
			content ""
			display block
			width 100%
			height 1px
			background c_blue
			position absolute
			bottom 0
	.subtitle
		margin-top 10px
		color #4d4d4d
		font-family 'roboto-thin'
		font-size 13px
		display block
.form-title
	margin 20px auto
	display block
	text-align center
	font-size 40px
	margin-bottom 40px
	font-family 'TitilliumWeb-Regular'
	color c_gray
.colegiados
	display block
	max-width 500px
	margin 0 auto
	text-align center
	span 
		font-family 'roboto-thin'
		font-size 15px
		display inline-block
		margin 20px 0px
	img
		margin 0 auto
	.acceso
		font-family 'roboto-bold'
		font-size 13px
		display block
		margin 10px
		color c_blue
	input[type=radio]
		font-family 'roboto-thin'
		font-size 15px
		padding-top 10px
	input[type="text"] 
		width 100%
		text-align center
		padding 5px
		margin 10px 0px
		color c_gray
		border 1px solid c_gray
		font-family 'roboto-thin'
		font-size 15px
	::-webkit-input-placeholder 
		color c_gray
	:-moz-placeholder 
		color c_gray
	::-moz-placeholder
		color c_gray  
	:-ms-input-placeholder
		color c_gray
	.send-btn
		padding 10px 20px
		color c_blue
		background transparent
		font-family 'roboto-bold'
		font-weight normal
		font-size 15px
		width 170px
		color c_blue
		margin 0 auto
		border 1px solid c_blue
		border-radius 25px
		margin-top 10px
		display block
.textos-colegiados
	display block
	width 100%
	max-width 500px
	border-bottom 1px solid c_black
	margin 0 auto
	margin-top 50px
.textos-memoria
	display block
	width 100%
	max-width 500px
	margin 0 auto
	margin-top 50px
.advertencia
	display block
	width 100%
	max-width 500px
	margin 0 auto
	margin-top 20px
	margin-bottom 40px
	p
		font-size 12px
		font-family 'roboto-thin'
		color #808080
.fix-height
	height 300px
.no-margin
	margin-bottom 0px !important
.colegio-pleno
	float right
footer
	display block
	width 100%	
	overflow hidden
	margin-top 100px
	.foot1
		display block
		width 100%
		background #0e5688
		height 144px
		.content
			max-width 1000px
			text-align center
			margin 0 auto
			position relative
			.mapa
				display inline-block
			.logo
				display inline-block
				vertical-align top
				padding-top 25px
				margin 0px 10px
			.copy1
				display inline-block
				vertical-align top
				padding-top 50px
				margin 0px 10px
			.copy2
				display inline-block
				vertical-align top
				padding-top 25px
				margin 0px 10px
			p
				font-family 'roboto-thin'
				font-size 15px
				line-height 1.2em
				color c_white
				margin 0
				b
					font-family 'roboto-bold'
					
			.icon-up
				position absolute
				top 30px
				right 30px
				width 43px
				height 43px
				color c_white
				text-align center
				font-size 23px
				line-height 1.6em
				border-radius 50%
				border 3px solid c_white
				cursor pointer
				transition(all 1s ease)
				&:hover
					background c_white
					color c_blue
					transition(all 1s ease)
			.social
				width 100%
				display block
				padding-top 10px
				color c_white
				ul
					list-style none
					padding 0
					margin 0
					li
						display inline-block
						margin 0 2px
						font-size 22px		

	.foot2
		display block
		width 100%
		background #094171
		height 100px
		.content
			max-width 1000px
			text-align center
			margin 0 auto
			span
				font-size 20px
				display block
				color c_white
				font-family 'roboto-bold'
				padding-top 10px
			.marcas
				width 100%
				display block
				ul 
					margin 0px
					padding 0px
				li
					display inline-block
					margin 10px
	.foot3
		display block
		width 100%
		background #06315e
		.content
			max-width 1000px
			text-align center
			margin 0 auto
			.nav-footer
				width 100%
				display block
				padding 10px 0px
				ul
					list-style none
					padding 0
					margin 10px 0
					li
						display inline-block
						font-family 'roboto-thin'
						font-size 18px
						line-height 1.2em
						color c_white
						padding 0 5px
						&:after
							content '|'
							display inline-block
							color c_white
							margin-left 5px
						&:last-child
							&:after
								display none
	.footer-left
		display inline-block
		width 40%
		vertical-align top
		.map
			display block
			width 100%
			height 205px
			-webkit-filter grayscale(100%)
			-moz-filter grayscale(100%)
			-ms-filter grayscale(100%)
			-o-filter grayscale(100%)
			filter grayscale(100%)
	.footer-right
		display inline-block
		width 60%
		vertical-align top
		background c_blue
		color c_white
		padding 30px
		position relative
		.content
			display block
			width 100%
			max-width 600px
		.icon-up
			position absolute
			top 30px
			right 30px
			width 43px
			height 43px
			color c_white
			text-align center
			font-size 23px
			line-height 1.6em
			border-radius 50%
			border 3px solid c_white
			cursor pointer
			transition(all 1s ease)
			&:hover
				background c_white
				color c_blue
				transition(all 1s ease)
		.nav-footer
			width 100%
			display block
			ul
				list-style none
				padding 0
				margin 20px 0
				li
					display inline-block
					font-family 'roboto-thin'
					font-size 18px
					line-height 1.2em
					color c_white
					padding 0 5px
					&:after
						content '|'
						display inline-block
						color c_white
						margin-left 5px
					&:last-child
						&:after
							display none
		.fieldset
			display inline-block
			width 50%
			margin 0
			text-align left
			h5
				font-family 'roboto-bold'
				font-size 15px
				line-height 1.2em
				color c_white
				margin 0
			p
				font-family 'roboto-thin'
				font-size 15px
				line-height 1.2em
				color c_white
				margin 0
				b
					font-family 'roboto-bold'
			.social
				width 100%
				display block
				padding-top 10px
				ul
					list-style none
					padding 0
					margin 0
					li
						display inline-block
						margin 0 2px
						font-size 22px
//Espacios Disponibles
.places
	font-family 'TitilliumWeb-Regular'
	&-Main-Img
		padding-top: 2em;
		img
			max-width: 400px;
			margin: 0 auto;
	p
		font-family 'TitilliumWeb-Regular' !important
		font-size: 16px !important
	&-tabs
		p
		li
			font-family 'TitilliumWeb-Regular' !important
			font-size: 16px !important
		&-tab
			.tab
				display: flex;
				justify-content: space-between;
				align-items: center;
				color: #0e5688;
				border-bottom: 1px solid;
				p
					color: inherit;
					font-weight: bold;
				.icon-down
					transition all .3s ease-in-out
					&.active
						transform rotate(180deg)
			.onecol
				.col
					width: 80% !important
					p
						margin-left: 1.3em
						margin-top: 0;
			.twocol
				justify-content: space-between;
				align-items: flex-start
				.font
					p
					li
						font-size: 12px !important;
						margin: .3em 0;
				.col
					width: 65% !important
					justify-content: center;					
					&:first-child
						width: 35% !important
			.content-tab
				display: flex;
				justify-content: center;
				.col
					width: 30%;
					margin: 1em .5em;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					&:first-child
						width: 35%
						margin: 1em 0
					.blueboldx
						color: #0e5688;
						font-weight: bold;
						margin-left: 1.3em;
					ul
						margin: 0
	&-Tarifas
		font-size: 16px
		padding-top 1.5em
		table
			thead
				th
					margin 0
					width: 11.6%
					background: #0e5684;
					padding: .5em
					color: white
					border-right: 1px solid;
					&:first-child
						width: 30%
					&:last-child
						border 0
			tr
				td
					margin 0
					padding: .5em
					text-align: center
					&:first-child
						text-align: left
		

	&-Gallery
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		&-item
			width: 32%;
			margin: .3em;
			min-width: 250px;
			position: relative;
			padding-bottom: 1em;
			overflow: hidden
			&:hover
				img
					transform: scale(1.1);
			img
				transition: all .3s ease-in-out
			.label
				position: absolute;
				width: 100%;
				bottom: 0;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: .5em 1em;
				background: #0e5684;
				color: white;
				cursor: pointer
				p
					margin: 0;
					color: inherit;
//Text Container
.text-content
	.cv
		padding: 1em 0
		.link-news
			position: relative
			float: right	
@media all and (max-width 827px)	
	.places
		&-Gallery
			justify-content: center
@media all and (max-width 1100px)	
	.module-news 
		.single-news 
			.pie
				margin-right 0px
@media all and (max-width 980px)
	.title-mobile
		display block
		font-size 16px
		color c_blue
		font-family 'roboto-bold'
	.grupos
		width 100%
		display block
		margin 40px auto
		text-align center
		min-height 300px
	header
		.menu
			ul
				li
					font-size 13px
		.sub
			.sub-slide
				li
					font-size 10px
	
	.col-2
		-webkit-column-count 1
		-moz-column-count 1
		column-count 1	
	.module-news
		padding 20px 0
		.principal-title
			padding-left 0
			text-align center
		.news-title
			font-size 30px
		.single-news 
			.destacado-vid 
				.image-news 
					.destacado
						left 0
						top 0
			.quote
				margin-left 10px
				margin-right 0px
				width 200px
				font-size 22px
			.historia
				li
					.title
						display none
	.item-news
		.image-news
			.text-area
				padding-top 20px
				.title
					font-size 30px
	.phrase
		padding 0
@media all and (max-width 768px)
	.grid
		display block
		max-width 1000px
		margin 20px auto
	.grid-sizer
	.grid-item 
		width 40%
		img
			width 100%
			height 100%
		.subtexto
			position absolute
			right 20px
			font-family 'roboto-bold'
			font-size 20px
			bottom 20px
			color c_white
			z-index 10
			display none
		&:hover 
			&:after
				content "\A"
				width 100%
				height 100%
				background rgba(14,86,128,0.6)
				position absolute
				top 0
				left 0
			.subtexto 
				display block
	.grid-item
		height 207px
		float left
	.grid-item--width2
		width 40%
	.grid-item--width3
		width 80%
		img
			width 100%
	.grid-item--height2
		height 407px
	.grid-item--height3 
		height 260px
	.grid-item--height4
		height 207px
	.grid-item--height5
		height 207px
	.grid-item--height6
		height 207px
	.container
		padding 0 30px
	.container-half
		width 100%
		display block
	.video-news-bg
		height 230px
		max-height 230px
		img
			min-height 500px
	header
		background c_white
		padding 5px 0
		.menu
			display none
			max-width initial
			position absolute
			background c_white
			margin-top 0
			left 0
			top 0
			width 100%
			height 100vh
			padding 0 10px
			ul
				display block
				width 100%
				padding-top 30px
				li
					display block
					padding 10px 0 20px 0
					text-align center
					font-size 15px
					border-bottom 1px solid c_blue
					&.submenu
						&:after
							bottom 5px
					&.mail
						display none
						
		.sub
			position absolute
			width 100%
			height 100vh
			overflow-y auto
			left 0
			top 0
			background c_white
			padding-top 50px
			.icon-up
				display block
				position absolute
				top 25px
				right 35px
				color c_blue
				font-size 20px
				line-height 1.3em
				width 30px
				height 30px
				text-align center
				border-radius 50%
				border 2px solid c_blue
				cursor pointer
				&:before
					margin 0
			.sub-slide
				display block
				padding 0 10px
				li
					display block
					padding 13px 0
					text-align center
					border-bottom 1px solid c_blue
					font-size 12px
					&.submenu
						&:after
							bottom 12px
							right calc(50% - 130px)
							right -moz-calc(50% - 130px)
							right -webkit-calc(50% - 130px)
							left auto
					&:last-child
						border none
		.box
			display block
		.mail-movil
			display block
		.logo
			display block
			width 122px
			margin 0 auto
	.module-boxes
		text-align center
		.box-info
			width 25%
	.phrase
		h2
			font-size 30px
	.item-news
		.image-news
			.text-area
				padding-top 10px
				.title
					font-size 25px
	.module-news 
		.news-title
			font-size 25px
		.single-news 
			.pie
				display block
				width 100%
				margin-bottom 20px
	.decanos
		ul
			li
				span
					padding-left 0px
					margin-top 10px
					width 100%
					display block
				&:last-child
					border-bottom 0px
				.cargo
					display block
					margin-top 10px
				.web
					display block
					
				.place
					font-family 'roboto-bold'
					margin-left 0px
				.colegio
					display block
					margin-top 10px
					float none
					text-align left
				.autonomia
					display block
					margin-top 10px
					float none
					text-align left
	.revista-container 
		.revista
			width 48%
	.memoria
		width 100%
		display block
		margin 0 auto
		margin-top 20px
		text-align center
		.memoria1
			float none
			margin-right 0px	
		.memoria2
			margin-left 0px
	.colegiados 
		span
			display initial
		input[type=radio]
			margin-top 20px
	footer
		height auto
		.footer-left
			display block
			width 100%
		.footer-right
			display block
			width 100%
@media all and (max-width 600px)
	header
		.logo
			width 80px
		.box
			top 17px
			left 15px
		.mail-movil
			top 15px
			right 15px
		.sub
			.icon-up
				top 17px
				right 15px
	.principal-banner
		display block
		height initial
		padding-top 54px
		.slick-list
			height initial
		.slick-track
			height initial
		.slick-dots
			position relative
			bottom 2px
			li
				&.slick-active
					button
						&:before
							color c_black
							background c_black
				button
					&:before
						color c_black
						background c_black
		.slide-banner
			position initial
			img
				position initial
				display block
				max-width 100%
				transform(translate(0,0))
			.text-slide
				position initial
				display block
	.module-boxes
		.box-info
			width 50%
			
	.module-news
		display block
		width 100%
		padding 10px 0
		.container-half
			display block
			width 100%
			padding 10px
			&.border
				border none
	.phrase
		h2
			width 100%
			white-space inherit
			border none
	.item-news
		.image-news
			padding-right 0px
			.link-news
				padding-top 10px
				position relative
				margin-left calc(100% - 200px)
		.text-news
			h2
				font-size 20px
	footer
		.footer-right
			padding 10px
			.fieldset 
				vertical-align top
				padding-top 10px
				h5
					font-size 14px
				p
					font-size 14px
			.icon-up
				display none
			.nav-footer
				ul
					text-align center
					li
						font-size 12px
@media all and (max-width 420px)
	.item-news
		.image-news
			.text-area
				padding-top 10px
				.title
					font-size 25px
					width 100%